<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase link:</strong>
    <%= product.purchase_link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase link website name:</strong>
    <%= product.purchase_link_website_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= product.account_id %>
  </p>

</div>
